@font-face {
    font-family: 'LineIcons';
    src: url('../fonts/LineIcons/LineIcons.eot');
    src: url('../fonts/LineIcons/LineIcons.eot') format('embedded-opentype'), 
    url('../fonts/LineIcons/LineIcons.woff2') format('woff2'), url('../fonts/LineIcons/LineIcons.woff') format('woff'), url('../fonts/LineIcons/LineIcons.ttf') format('truetype'), url('../fonts/LineIcons/LineIcons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

header.site-header{
    
}

main.site-main{
    min-height: 100vh;
}

footer.site-footer{

}